<!-- <body class="my-login-page">
    <app-page-layout></app-page-layout>
    <div class="content-wrapper">
        <div class="card card-info">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>

                    <li class="breadcrumb-item active"><a href="/listeDemandes">demandes </a></li>

                </ol>
            </div>

            <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
            <div class="card-header" style="text-align:center;">
                <h3>Modifier une demande</h3>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()">
  
                <div class="form-group">
                    <label for="title">typeDemande:</label>
                    <input 
                        formControlName="typeDemande"
                        id="typeDemande" 
                        type="text" 
                        
                        class="form-control">
                    <! <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                        <div *ngIf="f.title.errors?.required">Title is required.</div>
                    </div> 
                </div>
                 
                <div class="form-group">
                    <label for="body">lieu</label>
                    <textarea 
                        formControlName="lieu"
                        id="lieu" 
                        type="text" 
                        
                        class="form-control">
                    </textarea>
                    <!- <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
                        <div *ngIf="f.body.errors?.required">Body is required.</div>
                    </div> -->
                <!-- </div>
                
                <button class="btn btn-primary" type="submit" >Update</button>
            </form>
        -->








                <!-- <div class="form-group row" >
                            
                    <label for="Lieu" class="col-sm-3 col-form-label" id="Lieu" >
                    idDemande</label>
                    <div class="col-sm-9">
                    <input  id="demandeId" name="demandeId" type="text" placeholder="demandeId" required >
                
                    <label>{{ demande.demandeId}}</label>
              </div>
        </div>
            <div class="form-group row" >
                            
                <label for="typeDemande" class="col-sm-3 col-form-label" id="typeDemande" >
                    typeDemande</label>
                <div class="col-sm-9">
                  <input  id="typeDemande" name="typeDemande" type="text" placeholder="typeDemande" required >
                
                <label>{{ demande.typeDemande}}</label>
              </div>
              </div>
              <div class="form-group row" >
                            
                <label for="dateDemande" class="col-sm-3 col-form-label" id="dateDemande" >
                    dateDemande</label>
                <div class="col-sm-9">
                  <input  id="dateDemande" name="dateDemande" type="text" placeholder="dateDemande" required >
                
                <label>{{ demande.dateDemande}}</label>
              </div>
              </div>
      
            <div class="form-group row" >
                            
                          <label for="Lieu" class="col-sm-3 col-form-label" id="Lieu" >
                              Lieu</label>
                          <div class="col-sm-9">
                            <input  id="Lieu" name="Lieu" type="text" placeholder="Lieu" required >
                          
                          <label>{{ demande.lieu}}</label>
                        </div>
                        </div>
                
            <div class="form-group row" >
                          <label for="Partie1" class="col-sm-3 col-form-label" id="Partie1" >
                              Partie1</label>
                              <label>{{ demande.partie1}}</label> -->
                          <!-- <div class="col-sm-9">
                            <input formControlName="Partie1"  id="Partie1" name="Partie1" type="text" placeholder="Partie1" required [value]="demandeService.demandeForm.controls.Partie1.value" >
                          </div> -->
                        <!-- </div>
                          
                <div class="form-group row" >
                          <label for="Partie2" class="col-sm-3 col-form-label" id="Partie2" >
                              Partie2</label>
                              <label>{{ demande.partie2}}</label>
                          <!- <div class="col-sm-9">
                            <input formControlName="Partie2"   id="Partie2" name="Partie2" type="text" placeholder="Partie2" required [value]="demandeService.demandeForm.controls.Partie2.value" >
                          </div> 
                         </div>
                     

        </div>
    </div> 

</body> -->