
<body class="my-login-page">
  <app-page-layout></app-page-layout>
 
  <div class="content-wrapper">
   
    <div class="card card-primary">
      <div class="card-header col-sm-3 mb-2 ">
        <h3 class="card-title">Ajout User</h3>                   
      </div>
       
    </div>
   

    <div class="container" id="usr">

      <form [formGroup]="form" (ngSubmit)="clicksub()" class="normal-form">
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile>
            <div class="controles-container">
              <input type="hidden" formControlName="$key">
              <mat-form-field>
                <input formControlName="nom" type="text" matInput placeholder="Nom*">
                <mat-error>Champ Obligatoire.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="prenom" matInput placeholder="Prenom*">
                <mat-error>Champ Obligatoire.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="matricule" matInput placeholder="Matricule*">
                <mat-error>This field is mandatory.</mat-error>
                <mat-error>Minimum 8 charactors needed.</mat-error>
              </mat-form-field>
              <!-- <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
                <mat-error>Invalid email address.</mat-error>
              </mat-form-field> -->
              <mat-form-field>
                <input formControlName="password" matInput placeholder="Password">
                <mat-error>password obligatoire</mat-error>
              </mat-form-field>

              <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; -->

              <!-- <mat-form-field>
                <input formControlName="city" matInput placeholder="City">
              </mat-form-field> -->
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <div class="add-bottom-padding">
                <mat-form-field>

                  <mat-select formControlName="roleEmploye" placeholder="Role">
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let r of roles">
                      <mat-option value="{{r.value}}">{{r.text}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                &nbsp; &nbsp; &nbsp;
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="1">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                  <mat-radio-button value="3">Other</mat-radio-button>
                </mat-radio-group>
              </div>
              <!-- <mat-form-field>
                <input formControlName="poste" matInput placeholder="Poste">
                <mat-error>poste obligatoire</mat-error>
              </mat-form-field> -->
              <mat-form-field>
                <mat-select formControlName="department" placeholder="Department">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let department of departments">
                    <mat-option value="{{department.id}}">{{department.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input formControlName="dateEmbauche" matInput [matDatepicker]="picker" placeholder="Hire Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div class="add-bottom-padding">
                <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
              </div>
              <div class="button-row">
                <button mat-raised-button color="primary" type="submit">Submit</button>
                <button mat-raised-button color="warn">Clear</button>
              </div>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </form>

    </div>

    <br><br>
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h3 class="text-white text-capitalize ps-3" style="max-height: 9px;">Liste Employés</h3>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employes</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fonction</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed
                  </th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usr of users |paginate: { itemsPerPage: 5,currentPage: p}" ngValue="usr">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <!-- <div>
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                      </div> -->
                      <div class="d-flex flex-column justify-content-center">
                        <!-- <h6 class="mb-0 text-sm"> {{usr.nom}} {{usr.prenom}}</h6> -->
                        <p class="text-xs text-secondary mb-0">fff</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">gkfkgkgg</p>
                    <p class="text-xs text-secondary mb-0">hfhjfjff</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">Online</span>
                  </td>
                  <td class="align-middle text-center">
                    <!-- <span class="text-secondary text-xs font-weight-bold">{{emp[7] | date: 'shortDate'}}</span> -->
                    <!-- <span class="text-secondary text-xs font-weight-bold">{{usr.dateEmbauche | date: 'dd/MM/yyyy'}}</span> -->
                  </td>
                  <!-- <td>
                     <div _ngcontent-hba-c81="" class="tools">
                        <i _ngcontent-hba-c81=""  style="      cursor: grab;  color: #0104ca;" class="fas fa-edit"  ></i><i _ngcontent-hba-c81="" class="fas fa-trash-o"></i>
                      
                      
                        <button style="    color: #ca0101;" type="button" class="btn btn-sm" rel="tooltip" >
                          <mat-icon>delete_outline</mat-icon>  </button>
                    </div>
                    (click)="OnDelete(emp.employeId)
                 </td> -->
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Edit user" (click)="openEdit(contentEdit,usr)">
                      Edit
                    </a>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Delete user" (click)="onDeleteUser()">
                      Delete
                    </a>
                  </td>

                </tr>
                <tr>
                  <!-- <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user2">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Alexa Liras</h6>
                        <p class="text-xs text-secondary mb-0">alexa@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">Programator</p>
                    <p class="text-xs text-secondary mb-0">Developer</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Edit user">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-4.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Laurent Perrier</h6>
                        <p class="text-xs text-secondary mb-0">laurent@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">Executive</p>
                    <p class="text-xs text-secondary mb-0">Projects</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">Online</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Edit user">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user4">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Michael Levi</h6>
                        <p class="text-xs text-secondary mb-0">michael@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">Programator</p>
                    <p class="text-xs text-secondary mb-0">Developer</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">Online</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Edit user">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user5">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Richard Gran</h6>
                        <p class="text-xs text-secondary mb-0">richard@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">Manager</p>
                    <p class="text-xs text-secondary mb-0">Executive</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Edit user">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-4.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user6">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">Miriam Eric</h6>
                        <p class="text-xs text-secondary mb-0">miriam@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">Programator</p>
                    <p class="text-xs text-secondary mb-0">Developer</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                      data-original-title="Edit user">
                      Edit
                    </a>

                  </td> -->
                  <td class="align-middle">

                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <!-- Modal Edit demande-->
    <ng-template #contentEdit let-modal>

      <div class="modal-header btn btn-info">
        <h4 class="modal-title" id="modal-basic-title-2">Update User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="form-group">
            <label for="userId">userId</label>
            <div class="input-group">
              <input formControlName="userId"  class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <div class="input-group">
              <input formControlName="nom"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="prenom">Prenom</label>
            <div class="input-group">
              <input formControlName="prenom"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="matricule">Matricule</label>
            <div class="input-group">
              <input formControlName="matricule"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="poste">Poste</label>
            <div class="input-group">
              <input formControlName="poste"  class="form-control">
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
              <input formControlName="email"  class="form-control">
            </div>
          </div> -->
          <div class="form-group">
            <label for="dateEmbauche">Date</label>
            <div class="input-group">
              <input formControlName="dateEmbauche"  class="form-control">
            </div>
          </div>


          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info" (click)= "Ontest">Save Changes</button>
          </div>
        </form>
      </div>


    </ng-template>

  </div>


</body>


