<body class="my-login-page">
    <app-page-layout></app-page-layout>
    <div class="content-wrapper">
        <div class="row mb-2">
            <div class="card card-info mt-3">
                <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <h3 class="card-title">
                        <i class="far fa-file-alt ml-2"></i>
                        Liste Brouillon
                    </h3>
                </div>
            </div>
       
            <div class="card-body table-responsive mt-3" *ngIf="serviceDemandeState.listBrouillon.length>0">
                <table class="table table-striped table-bordered" style="margin-left: -5px;">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Demande </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Date</th>
  
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Filiale</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Client</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Categorie</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Mode</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Gérer Par</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder" >Commentaire</th>
                            <th colspan="3" class="text-uppercase text-secondary text-xxs font-weight-bolder text-center">Action</th>
                        </tr>
                    </thead>
  
                    <tbody>
                        <tr
                            *ngFor="let dde of serviceDemandeState.listBrouillon   |paginate: { itemsPerPage: 25,currentPage: p}; let i =index;">
                          
                            <td>{{dde.labelDemande}}   </td>
                            <td>{{dde.dateDemande | date: "dd/MM/yyyy"}}</td>
  
                            <td>{{dde.partie1}}</td>
  
                            <td>{{dde.partie2}}</td>
                            <td>{{dde.typeCat}}</td>
                            <td>{{dde.designation}}</td>
                            <td>{{dde.fullName}} <span class="badge badge-pill badge-light">{{dde.libelleRole}}</span></td>
                            <td>{{dde.comment}}</td>
                            <td>
                                <button type="button" class="btn">   
                                     <i   class="fas fa-edit text-primary" ></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn">   
                                    <i   class="fas fa-trash text-danger" ></i>
                               </button>
                            </td>
                            <td>
                                <button type="button" (click)="onAccept(dde)" class="btn btn-success float-right">Envoyer</button>
                            </td>
                        </tr>
  
                    </tbody>
  
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
  
            <div class="alert alert-secondary mx-auto text-center mt-5 col-md-6" role="alert"
                *ngIf="serviceDemandeState.listBrouillon.length==0">
                Aucune Liste à Afficher
            </div>
  
  
    
        
  
  
            