<body class="my-login-page">
  <app-page-layout></app-page-layout>

  <div class="content-wrapper mt-3">


    <!-- <div class="container" id="emp">

      <form [formGroup]="form" (ngSubmit)="clicksub()" class="normal-form">
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile>
            <div class="controles-container">
              <input type="hidden" formControlName="$key">
              <mat-form-field>
                <input formControlName="nom" type="text" matInput placeholder="Nom*">
                <mat-error>Champ Obligatoire.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="prenom" matInput placeholder="Prenom*">
                <mat-error>Champ Obligatoire.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="matricule" matInput placeholder="Matricule*">
                <mat-error>This field is mandatory.</mat-error>
                <mat-error>Minimum 8 charactors needed.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
                <mat-error>Invalid email address.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="password" matInput placeholder="Password">
                <mat-error>password obligatoire</mat-error>
              </mat-form-field>

            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <div class="add-bottom-padding">
                <mat-form-field>

                  <mat-select formControlName="roleEmploye" placeholder="Role">
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let r of roles">
                      <mat-option value="{{r.value}}">{{r.text}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                &nbsp; &nbsp; &nbsp;
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="1">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                  <mat-radio-button value="3">Other</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field>
                <input formControlName="poste" matInput placeholder="Poste">
                <mat-error>poste obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="department" placeholder="Department">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let department of departments">
                    <mat-option value="{{department.id}}">{{department.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input formControlName="dateEmbauche" matInput [matDatepicker]="picker" placeholder="Hire Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div class="add-bottom-padding">
                <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
              </div>
              <div class="button-row">
                <button mat-raised-button color="primary" type="submit">Submit</button>
                <button mat-raised-button color="warn">Clear</button>
              </div>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </form>

    </div> -->

  
    <div class="col-12">
      <div class="card card-info">
    
          <!-- <h3 class="card-title">Liste Employés</h3> -->
          <div class="card-header ui-sortable-handle" style="cursor: move;">
            <h3 class="card-title">
              <i class="fas fa-users-cog"></i>
              Liste Employés
            </h3>
            <div class="card-tools">
              <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                  <button type="button" class="btn btn-block btn-secondary">Ajouter</button>
                </li>
             
              </ul>
            </div>
         
        </div>
        <!-- <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h3 class="text-white text-capitalize ps-3">Liste Employés</h3>
          </div> -->
        <!-- <h3 class="card-title">Sales</h3> -->


        <div class="card-body table-responsive mt-3">
          <table class="table table-striped table-valign-middle">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Employes</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">C.I.N</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Filiale
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Date Embauche
                </th>
                <th class="text-secondary"></th>
                <th class="text-secondary"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of serviceUser.ListAllUser |paginate: { itemsPerPage: 10,currentPage: p}"
                ngValue="emp">
                <td>
                  {{emp.fullName}}
                  
                  <span class="badge bg-primary" *ngIf="emp.libelleRole=='Demandeur'">{{emp.libelleRole}}</span>
                  <span class="badge bg-secondary"
                    *ngIf="emp.libelleRole=='Validateur Filiale Financier'">{{emp.libelleRole}}</span>
                  <span class="badge bg-success" *ngIf="emp.libelleRole=='Directeur Filiale'">{{emp.libelleRole}}</span>
                  <span class="badge bg-danger"
                    *ngIf="emp.libelleRole=='Validateur Siege Financier'">{{emp.libelleRole}}</span>
                  <span class="badge bg-warning text-dark"
                    *ngIf="emp.libelleRole=='Directeur Siege'">{{emp.libelleRole}}</span>
                  <span class="badge bg-info text-dark" *ngIf="emp.libelleRole=='SuperAdmin'">{{emp.libelleRole}}</span>
                  <span class="badge bg-light text-dark"
                    *ngIf="emp.libelleRole=='Superviseur'">{{emp.libelleRole}}</span>

                </td>

                <td>
                  {{emp.matricule}}
                </td>
                <td class="align-middle text-center text-sm">
                  {{emp.labelSubsidary}} <span class="badge bg-info text-white">{{emp.codeSubsidary}} </span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{emp.dateEmbauche | date: 'dd/MM/yyyy'}}</span>
                </td>

                <td class="align-middle">

                  <i style="color: #0104ca;" class="fas fa-edit" (click)="openEdit(contentEdit)" ></i>

                </td>
                <td class="align-middle">
                  <i style="color: red" class="far fa-trash-alt"></i>
                </td>

              </tr>
     
            </tbody>
          </table>

        </div>

      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <!-- Modal Edit demande-->
    <ng-template #contentEdit let-modal>

      <div class="modal-header btn btn-info">
        <h4 class="modal-title" id="modal-basic-title-2">Update Employé</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="serviceUser.editForm">

          <div class="form-group">
            <label for="userId">userId</label>
            <div class="input-group">
                <input formControlName="userId" class="form-control">
            </div>
         </div>
         <div class="form-group">
          <label for="nom">Nom</label>
          <div class="input-group">
            <input formControlName="nom" class="form-control">
          </div>
         </div>
         <div class="form-group">
          <label for="prenom">Prenom</label>
          <div class="input-group">
            <input formControlName="prenom" class="form-control">
          </div>
         </div>
          <div class="form-group">
            <label for="matricule">matricule</label>
            <div class="input-group">
              <input formControlName="matricule" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="dateEmbauche">Date</label>
            <div class="input-group">
              <input formControlName="dateEmbauche" class="form-control">
            </div>
          </div>
          
         
          
          <div class="form-group">
            <label for="login">Login</label>
            <div class="input-group">
              <input formControlName="login" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <div class="input-group">
              <input formControlName="password" class="form-control">
            </div>
          </div>
         
          <div class="form-group">
            <label for="fullName">FullName</label>
            <div class="input-group">
              <input formControlName="fullName" class="form-control">
            </div>
          </div>

          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Save Changes</button>
          </div>
        </form>
      </div>


    </ng-template>

  </div>





</body>