<app-page-layout></app-page-layout>

<div class="content-wrapper">


  <marquee class="imen" bgcolor="orange">Tunis le {{cc}} ,Bienvenue sur votre espace PGH </marquee>


  <!-- <div class="row mt-4 ">
            <div class="col-lg-3 col-6 mx-auto">

                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{sum}}</h3>

                        <p> Demandes</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a [routerLink]="['/listeDemandes']" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6 mx-auto">

                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{sump}} </h3>

                        <p>Contrats PGH</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a [routerLink]="['/form']" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div> -->

  <div class="row mt-5 ">
    <div class="d-flex justify-content-center">
      <div class="col-lg-3 col-6">

        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{sumc}}</h3>

            <p>Contrats Clients</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a [routerLink]="['/listeContrats']" class="small-box-footer">More info <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">

        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{sume}}</h3>

            <p>Utilisateurs</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a [routerLink]="['/listEmployer']" class="small-box-footer">More info <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="d-flex justify-content-center">

      <div class="col-lg-3 col-6">

        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{sum}}</h3>

            <p> Demandes</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a [routerLink]="['/listeDemandes']" class="small-box-footer">More info <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">

        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{sump}} </h3>

            <p>Contrats PGH</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a [routerLink]="['/form']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>


    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>??</h3>

          <p>Demandes en Cours</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>??</h3>

          <p>Demandes en Revisées</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>??</h3>

          <p>Demandes Validées</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>??</h3>

          <p>Demandes Refusées</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>


</div>